.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  padding: 28px 0 24px;
  background-color: #2A2C2F;
  color: #fff;
  font-family: 'Inter', 'Helvatica', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 568px) {
.page {
    padding: 16px 0 24px;
  }
}