.places {
  padding: 92px 148px;
  max-width: 984px;
  display: grid;
  grid-row-gap: 80px;
}

@media screen and (max-width: 1124px) {
  .places {
    padding: 92px 48px;
  }
}

@media screen and (max-width: 986px) {
  .places {
    padding: 88px 24px 90px;
    grid-row-gap: 73px;
  }
}

@media screen and (max-width: 626px) {
  .places {
    padding: 64px 0 66px;
    grid-row-gap: 50px;
  }
}